<div [formGroup]="formGroup">
<mat-form-field class="full-width">
  <input matInput 
          type="number"
          [min]="minimo"
          [max]="maximo"
          [step]="step" 
          [placeholder]="titulo" 
          [name]="controlName" 
          [formControlName]="controlName">

  <mat-error *ngIf ="validacao.hasErrorValidar(formControl,'required')">"Campo Obrigatorio"</mat-error>
  <mat-error *ngIf ="validacao.hasErrorValidar(formControl,'min')">
    Campo precisa ter mais que 0.1 {{validacao.lengthValidar(formControl, 'min')}} </mat-error>
  <mat-error *ngIf ="validacao.hasErrorValidar(formControl,'max')">
    Campo precisa ter no maximo que 10 {{validacao.lengthValidar(formControl, 'max')}}</mat-error>
</mat-form-field>
</div>